{% extends 'main.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>{{room.name}}</h1>
    <p>{{room.description}}</p>

    <div class="comment-wrapper">
        <h3>Conversas</h3>
        <hr>

        {% for message in room_messages %}
        <div>
            <small>@{{message.user}} {{message.created|timesince}} atrás</small>
            <p>{{message.body}}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock content%}